<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="turnOnLights">
    <bean id="duke" class="com.springin.chapter2.Juggler">
        <constructor-arg index="0" value="15"/>
    </bean>
    <bean id="poeticJuggler" class="com.springin.chapter2.PoeticJuggler">
        <constructor-arg index="0" value="7"/>
        <constructor-arg>
            <!-- anonymous bean example-->
            <bean class="com.springin.chapter2.Sail"/>
        </constructor-arg>
    </bean>
    <!--<bean id="auditorium" class="com.springin.chapter2.Auditorium" destroy-method="turnOnLights"/>-->
    <bean id="saxophone" class="com.springin.chapter2.Saxophone"/>
    <bean id="kenny" class="com.springin.chapter2.Instrumentalist">
        <property name="song" value="Jingle Bells"></property>
        <property name="instrument" ref="saxophone"/>
    </bean>
</beans>
