<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="turnOnLights">
    <bean id="duke" class="com.springin.chapter2.Juggler">
        <constructor-arg index="0" value="15"/>
    </bean>
    <bean id="poeticJuggler" class="com.springin.chapter2.PoeticJuggler">
        <constructor-arg index="0" value="7"/>
        <constructor-arg>
            <!-- inner component example-->
            <bean class="com.springin.chapter2.Sail"/>
        </constructor-arg>
    </bean>
    <!--<bean id="auditorium" class="com.springin.chapter2.Auditorium" destroy-method="turnOnLights"/>-->

    <bean id="saxophone" class="com.springin.chapter2.instruments.Saxophone"/>
    <bean id="cymbal" class="com.springin.chapter2.instruments.Cymbal"/>
    <bean id="harmonica" class="com.springin.chapter2.instruments.Harmonica"/>
    <bean id="guitar" class="com.springin.chapter2.instruments.Guitar"/>

    <bean id="kenny" class="com.springin.chapter2.Instrumentalist">
        <property name="song" value="Jingle Bells"/>
        <property name="instrument" ref="saxophone"/>
    </bean>
    <bean id="denny" class="com.springin.chapter2.Instrumentalist" p:instrument-ref="saxophone" p:song="Jingle Bells"/>
    <bean id="hank" class="com.springin.chapter2.OneManBand">
        <property name="instruments">
            <map>
                <entry key="GUITAR" value-ref="guitar"/>
                <entry key="CYMBAL" value-ref="cymbal"/>
                <!-- HARMONICA has mentioned two times, but map deletes repeated elements  -->
                <entry key="HARMONICA" value-ref="harmonica"/>
                <entry key="HARMONICA" value-ref="harmonica"/>
            </map>
        </property>
    </bean>
</beans>
